main .display{
    
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.display form {
    height: 100%;
}
    .display form input {
        width: 550px;
        border-radius: 4px;
        border-color:blueviolet;
        border-style: inset;
       
    }
    .display form select {
        width: 550px;
        height: 35px;
        border-radius: 3px;
        border-color:rgb(40, 39, 44);
        margin-bottom: 10px;
        cursor: pointer;
    }

    .display  form input:focus{
       border-color:blueviolet;
        outline: 0;
    }
    
    .display form button {
        background-color: blueviolet;
        color: cornsilk;
        width: 100%;
        margin-top: 10px;
        border-radius: 4px;
        height: 40px;
        border-color: rgba(27,31,35,.15);
        box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
        transition: background-color .2s cubic-bezier(.3,0,.5,1);
        cursor: pointer;
    }

    table{
        margin-top: 20px;
    }

    table thead th{
        padding: 20px;
    }
    